{% extends "accessories/main.html" %}
{% load static %}
{% block title %}Golpo Ghor{% endblock title %}
{% block content %}
{% load custom_filter %}
{% include "accessories/navbar.html" %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}" />
<link crossorigin="anonymous" 
          rel="stylesheet"
          href=
"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity=
"sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC">

<br><br>
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{carts|length}}</h6>
                  </div>
                  <hr class="my-4">
                  {% for cart in carts %}
                  <div class="row mb-4 d-flex align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src="{{cart.product.images}}" class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <a href="{% url 'product_details' cart.product.slug %}"><h6 class="text-muted" data-value="{{cart.product.slug}}">{{cart.product.title}}</h6></a>
                      <h6 class="mb-0">{{cart.product.sub_category}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3  d-flex align-items-center">
                      <button style="border: none; background: none;" onclick="updateQuantity(this, -1)">
                        <i class="bi bi-dash"></i>
                      </button>
                      <input min="1" name="quantity" id="quantity-{{cart.product.slug}}" value="{{cart.quantity}}" data-value={{cart.product.slug}} type="number" class="form-control form-control-sm text-center mx-2" style="width: 60px;" />
                      <button style="border: none; background: none;" onclick="updateQuantity(this, 1)">
                        <i class="bi bi-plus"></i>
                      </button>
                    </div>
                    <div class="col-ml-1 col-ml-1 col-xl-1 text-center" style="margin-left: -15px; margin-right:25px">
                      <div class="btn-group">
                       <select class="selectpicker btn btn-dark"  name="size_select" id="size-{{cart.product.slug}}" data-value="{{cart.product.slug}}" data-style="auto" style="min-width:20px; margin-right:2px">
                        <option selected value={{cart.size}}>{{cart.size}}</option>
                        {% for size in "S,M,L,XL,XXL"|split:"," %}
                        {% if cart.size != size %}
                          <option value="{{size}}">{{size}}</option>
                        {% endif %}

                        {% endfor %}
                      </select>
                      </div>
                    </div>
                    <div class="col-ml-3 col-ml-3 col-xl-2 text-center" style="margin-right:-20px">
                      <h6 class="mb-0" id="price-{{cart.product.slug}}" data-price="{{cart.product.price}}">$ {{cart.selling_price}}</h6>
                      
                      <h6 class="mb-0 font-weight-light text-decoration-line-through" id="discount-{{cart.product.slug}}">{% if cart.discount_price == 0 %}{% else %}${{cart.discount_price}}{% endif %}</h6>

                    </div>
                    <div class="col-md-1 col-lg-1 col-xr-1 text-end">
                      <a href="{% url 'delete_cart_item' cart.id %}" style="color:red"><i class="bi bi-file-x-fill"></i></a>
                    </div>

                  </div>
                  {% endfor %}
                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a href="{% url 'index' %}" class="text-body">
                        <i class="bi bi-arrow-left me-2"></i>Back to shop
                      </a>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-body-tertiary">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items {{carts|length}}</h5>
                    <h5 id="total">&dollar; {{carts|sum}}</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">

                    <select data-mdb-select-init class="form-select">
                      {% for address in addresses %}
                      <option value="1">{{address.address}}, {{address.zone}}, {{address.city}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg"  placeholder="Enter Coupon Code"/>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>&euro; 137.00</h5>
                  </div>

                  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Checkout</button>
                  <a href="{% url 'index' %}" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg" data-mdb-ripple-color="dark">Continue Shopping</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
function updateQuantity(button, step) {
    const input = button.parentNode.querySelector('input[type="number"]');
    let value = parseInt(input.value) || 1;
    value = Math.max(1, value + step); // Ensure the value doesn't go below 0
    input.value = value;
    // Trigger a 'change' event on the input field
    input.dispatchEvent(new Event('change'));
}
</script>
<script src="{% static 'js/cart.js' %}"></script>
{% include "accessories/notifications.html" %}
{% include "accessories/footer.html" %}
{% endblock content %}
