{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{% url 'index' %}">
    <i class="bi bi-house-door-fill"></i> Golpo Ghor
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
        <a class="nav-link" href="{% url 'index' %}">
          <i class="bi bi-house-fill"></i> Home <span class="sr-only">(current)</span>
        </a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" name="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{request.user.name}}'s Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' %}">
            <i class="bi bi-person-lines-fill"></i> My Account
          </a>
          <a class="dropdown-item" href="{% url 'sign_out' %}">
            <i class="bi bi-box-arrow-in-left"></i> Log Out
          </a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          <i class="bi bi-box-arrow-in-right"></i> Log In
        </a>
      </li>
      {% endif %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" name="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-list"></i> Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'product_by_categories' 'Bottomwear' %}">
            Bottomwear
          </a>
          <a class="dropdown-item" href="{% url 'product_by_categories' 'Clothing Accessories' %}">
            Clothing Accessories
          </a>
          <a class="dropdown-item" href="{% url 'product_by_categories' 'Innerwear and Swimwear' %}">
            Innerwear and Swimwear
          </a>
          <a class="dropdown-item" href="{% url 'product_by_categories' 'Kurtas' %}">
            Kurtas, Ethnic Sets and Bottoms
          </a>
          <a class="dropdown-item" href="{% url 'product_by_categories' 'Raincoats' %}">
            Raincoats
          </a>
          <a class="dropdown-item" href="{% url 'product_by_categories' 'Topwear' %}">
            Topwear
          </a>
          <a class="dropdown-item" href="{% url 'product_by_categories' 'Winter Wear' %}">
            Winter Wear
          </a>
        </div>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'cart' %}active{% endif %}">
        {% if request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'cart' %}">
          <i class="bi bi-cart"></i> Cart <span id="cart_item" class="badge rounded-pill badge-notification bg-danger">{% if total_item %}{{total_item}}{% else %}</span>{% endif %}
        </a>
        {% else %}
        <a class="nav-link" href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          <i class="bi bi-cart"></i> Cart
        </a>
        {% endif %}

      </li>
      <form class="form-inline my-2 my-lg-0" method="POST" action='{% url "index" %}'>
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" value="{{title}}" aria-label="Search" name="title">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="bi bi-search"></i> Search
        </button>
      </form>
    </ul>
  </div>
</nav>
<!-- Button trigger modal -->

<!-- Modal -->
<!-- Existing Log In Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Phone Number</label>
            <input type="text" class="form-control" id="loginPhone" aria-describedby="phone2numeric" placeholder="Enter Phone Number">
            <small id="emailHelp" class="form-text text-muted">We'll never share your Phone with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary" id="loginSubmit">Log In</button>
        </form>
      </div>
      <div class="modal-footer">
        <p>Don't have an account?</p>
        <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#registerModal">Register</button>
      </div>
    </div>
  </div>
</div>

<!-- New Registration Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLongTitle">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="registerPhone">Phone Number</label>
            <input type="text" class="form-control" id="registerPhone" placeholder="Enter Phone Number">
          </div>
          <div class="form-group">
            <label for="registerPassword">Password</label>
            <input type="password" class="form-control" id="registerPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary" id="registerSubmit">Register</button>
        </form>
      </div>
      <div class="modal-footer">
        <p>Already have an account?</p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalCenter">Log In</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/navbar.js' %}"></script>
